<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>Login</h1>
<form action="/auth/login" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required>
  <br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
  <br>
  <button type="submit">Login</button>
</form>
<h1>social login</h1>
<div>
  <a th:href="@{/oauth2/authorization/naver}">
    naver login
  </a>
</div>

<div>
  <a th:href="@{/oauth2/authorization/google}">
    google login
  </a>
</div>
<div>
  <a th:href="@{/oauth2/authorization/kakao}">
    kakao login
  </a>
</div>
</body>
</html>