<!DOCTYPE html>
<html>
<head>
    <title>Accommodation Types</title>
    <link rel="stylesheet" href="/css/accommodation_type/main.css">
    <link rel="stylesheet" href="/css/setting/top-btn.css">

</head>
<body>
<div class="top-button-container"></div>
<h1>숙소 유형 페이지</h1>
<button class="create-button" onclick="toggleCreateForm()">Create</button>
<div class="create-form" id="createForm">
    <input type="text" id="typeName" placeholder="숙소 유형 이름">
    <button class="save-button" onclick="saveAccommodationType()">Save</button>
</div>
<ul id="accommodationTypeList">
    <!-- js data insert area -->
</ul>
<script src="/js/accommodation_type/main.js"></script>
<script src="/js/setting/top-btn.js"></script>
</body>
</html>
