html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
}

.title {
  margin-top: 200px;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  text-shadow: 10px 10px 4px rgba(255, 255, 255, 0.5);
}

.link {
  text-decoration: none;
  color: #d69f05;
}

.navbar {
  background: linear-gradient(to left, #b1ba5c, #ffffff);
  padding: 10px;
  justify-content: flex;
  text-align: center;
  align-items: center;
  gap: 15px;
}

.navbar a,
span {
  color: #364b0a;
  font-weight: bolder;
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}

.navbar a:last-child,
.navbar span:last-child {
  margin-right: 0; /* Removes extra margin from the last element */
}

.introduction {
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.github-profile {
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.github-profile .table {
  margin-left: auto;
  margin-right: auto;
}

.github-profile img {
  width: 160px;
  height: 160px;
}

.login-container {
  /* display: flex; */
  width: 300px;
  background: linear-gradient(to left, #e02287, #6862d1);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  margin: 100px auto;
  justify-content: center;
  align-items: center;
  height: 120px;
  padding: 20px;
  gap: 10px;
  flex-direction: column;
  align-content: stretch;
}

.login-container h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
}

.login-container button {
  margin: 0 auto;
}

.google-map {
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.price-tag {
  background-color: #4285f4;
  border-radius: 8px;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 15px;
  position: relative;
}

.price-tag::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #4285f4;
}

.marker {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 30px;
  padding: 0 35px;
  border: 1px solid #afafaf;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;

  color: black;
  font-size: 13px;
  font-weight: 700;
  pointer-events: none;
}

.marker:hover {
  color: white;
  background-color: #2f2f2f;
}
