spring:
  application:
    name: airdnb
  datasource:
    url: jdbc:mysql://localhost:3306/airdnb
    username: team06
    password: qwer1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: always

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: true
        format_sql: true
    database-platform: org.hibernate.dialect.MySQLDialect
    open-in-view: false