<!DOCTYPE html>
<html>
<head>
    <title>Accommodation Room Types</title>
    <link rel="stylesheet" href="/css/accommodation_room_type/main.css">
</head>
<body>
<h1>숙소 방 유형 페이지</h1>
<button class="create-button" onclick="toggleCreateForm()">Create</button>
<div class="create-form" id="createForm">
    <input type="text" id="typeName" placeholder="숙소 방 유형">
    <button class="save-button" onclick="saveAccommodationType()">Save</button>
</div>
<ul id="accommodationRoomTypeList">
    <!-- js data insert area -->
</ul>
<script src="/js/accommodation_room_type/main.js"></script>
</body>
</html>
