spring:
  application:
    name: airdnb
  datasource:
    url: jdbc:h2:tcp://localhost/~/airdnb
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        show_sql: true
        format_sql: true

logging:
  level:
    org.hibernate.sql: debug

